@import 'core/settings';
@import 'components/header';
@import 'components/main-page';

body {
  margin: 0;
  background-image: linear-gradient(to right bottom, #3a5988, #546d95, #6d82a2, #8797b0, #a1acbd);
  min-height: 100vh;
}
