.header__title {
  text-align: center;
  font-family: $font-main;
  font-weight: 400;
  font-size: 70px;
  color: $color-white;
  margin-top: 70px;
}

.searcher__button {
  background-color: $color-button;
  border: 0;
  border-radius: 10px;
  padding: 7px 10px;
  color: $color-white;
  margin-left: 10px;
  font-size: 16px;
  border: 1px solid $color-borderFavorite;
}

.header__searcher-container {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.searcher__input {
  width: 300px; 
  height: 30px;
  border: none;
  border-radius: 10px;
}




