.header__title {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.searcher__button {
  background-color: $color-button;
  border: 0;
  border-radius: 2px;
  color: $color-white;
  margin-left: 10px;
  font-size: 16px;
}

.header__searcher-container {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}




