//Colors

$color-white: #f3f4f5;
$color-button: #792B56;
$color-backgroundItem: #C8679C;
$color-titleItem: #484554;
$color-backgroundFavorite: #941582;
$color-borderFavorite: #B8A6B3;
$color-titleFavorite: #EFEFDC;

//Typographies
