//Colors

$color-white: #f3f4f5;
$color-button: #D5A419;
$color-backgroundItem: #114873;
$color-titleItem: #A1ACBD;
$color-backgroundFavorite: #D5A419;
$color-borderFavorite: #EEE8A9;
$color-titleFavorite: #EFEFDC;

//Typography

$font-main: Arial, Helvetica, sans-serif;
